/**
 * @name Materialistic
 * @author Snipcola
 * @version 1.0.0
 * @description Theme based on the React Material UI library.
 * @source https://github.com/snipcola/snipcola.github.io
 * @invite snipcola
 * @authorId 126870350507147264
*/

:root {
    --bg: 10, 25, 41;
    --bg-dark: 0, 30, 60;

    --secondary: 0, 127, 255;
    --secondary-light: 102, 178, 255;
    --secondary-dark: 19, 47, 76;

    --border-radius: 20px;
    --default-margin: .5rem;
}

.container-ZMc96U {
    background-color: rgb(var(--bg-dark)) !important;
    margin: var(--default-margin) !important;
    width: calc(100% - var(--default-margin) * 2) !important;
    border-radius: var(--border-radius) !important;
    border: 1px solid rgb(var(--bg-dark)) !important;
}

.container-ZMc96U h1 {
    color: white !important;
}

.chat-2ZfjoI {
    background-color: rgb(var(--bg)) !important;
}

.children-3xh0VB::after {
    background: none !important;
}

.content-1jQy2l::before, .form-3gdLxP::before {
    display: none !important;
}

.iconBadge-3Mmg92 {
    background-color: rgb(var(--secondary)) !important;
}

.iconWrapper-2awDjA .icon-2xnN2Y {
    color: rgb(var(--secondary)) !important;
}

.toolbar-3_r2xA .clickable-ZD7xvu {
    background-color: rgb(var(--bg)) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid rgb(var(--secondary-dark)) !important;
    width: 2rem !important;
    height: 2rem !important;
    border-radius: var(--border-radius) !important;
}

.toolbar-3_r2xA .clickable-ZD7xvu:hover {
    background-color: rgba(var(--bg), 0.4) !important;
}

.toolbar-3_r2xA .clickable-ZD7xvu .icon-2xnN2Y {
    color: rgb(var(--secondary-light)) !important;
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.search-2Mwzzq, .searchBarComponent-3N7dCG {
    display: flex !important;
    align-items: center !important;
    background-color: rgb(var(--bg)) !important;
    border: 1px solid rgb(var(--secondary-dark)) !important;
    border-radius: var(--border-radius) !important;
    height: 2rem !important;
}

.searchBar-jGtisZ {
    background-color: transparent !important;
    flex-direction: row-reverse !important;
}

.searchBar-jGtisZ .icon-18rqoe {
    color: rgb(var(--secondary-light)) !important;
}

.divider-q3P9HC {
    background-color: rgb(var(--secondary-dark)) !important;
}

.textBadge-1fdDPJ {
    background-color: rgb(var(--secondary-dark)) !important;
    color: rgb(var(--secondary)) !important;
    border-radius: var(--border-radius) !important;
    padding: .75rem .5rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.nicknames-10Sg6e  {
    color: rgb(var(--secondary-light)) !important;
}

div[aria-label="Online"] rect {
    fill: rgb(var(--secondary-light)) !important;
}

.channelTextArea-1FufC0, .scrollableContainer-15eg7h {
    background-color: rgba(var(--secondary-light), 0.05) !important;
    border-radius: calc(var(--border-radius) / 2) calc(var(--border-radius) / 2) 0 0 !important;
    border-bottom: 1px solid rgb(var(--secondary-light)) !important;
    transition: background-color .1s !important;
    margin-top: 1rem !important;
}

.channelTextArea-1FufC0:hover,
.scrollableContainer-15eg7h:hover,
.channelTextArea-1FufC0:focus-within,
.scrollableContainer-15eg7h:focus-within {
    background-color: rgba(var(--secondary-light), 0.075) !important;
}

.channelTextArea-1FufC0:focus-within,
.scrollableContainer-15eg7h:focus-within {
    border-bottom: 1px solid rgb(var(--secondary)) !important;
}

.channelTextArea-1FufC0 .contents-3ca1mk, .attachButtonPlus-3IYelE {
    color: rgb(var(--secondary-light)) !important;
    fill: rgb(var(--secondary-light)) !important;
}

.channelTextArea-1FufC0 .contents-3ca1mk:hover,
.attachButtonPlus-3IYelE:hover,
.buttonWrapper-3YFQGJ:hover {
    color: rgb(var(--secondary)) !important;
    fill: rgb(var(--secondary)) !important;
}

.slateTextArea-27tjG0 {
    color: 1px solid rgba(255, 255, 255, 0.7) !important;
}

.container-1bg4pR:hover,
.input-1nrc5P:hover,
.input-1nrc5P:focus,
.outer-1KB3kA:hover {
    box-shadow: none !important; 
}

.container-1bg4pR {
    margin-left: 1rem !important;
}

.input-1nrc5P {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: var(--border-radius) !important;
    padding: .75rem !important;
    border: 1px solid transparent !important;
}

.outer-1KB3kA:hover .input-1nrc5P, .input-1nrc5P:focus {
    background-color: rgb(var(--secondary-dark)) !important;
    border: 1px solid rgb(var(--secondary-light)) !important;
}

*::-webkit-scrollbar-track, *::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius) !important;
}

*::-webkit-scrollbar-track {
    background-color: rgb(var(--secondary-dark)) !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(var(--secondary)) !important;
}

.modalRoot-27psNz {
    background-color: transparent !important;
    box-shadow: none !important;
}

.textContainer-36wgKK, .modalTextContainer-1FUO2W {
    border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
    background-color: rgba(var(--secondary), 0.1) !important;
    border: 1px solid rgb(var(--secondary-light)) !important;
}

.messageContent-2t3eCI .scrollbar-3vVt8d {
    border-radius: var(--border-radius) !important;
    background-color: rgba(var(--secondary), 0.1) !important;
    border: 1px solid rgb(var(--secondary-light)) !important;
}

.scrollbar-3vVt8d {
    color: rgb(var(--secondary)) !important;
}

.footer-GXWBBp {
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
    background-color: rgba(var(--secondary), 0.05) !important;
    border: 1px solid rgb(var(--secondary-light)) !important;
    border-top: none !important;
    color: rgb(var(--secondary-light)) !important;
    min-width: 25rem !important;
}

.footer-GXWBBp svg:not(.directionDown-2w0MZz) {
    color: rgb(var(--secondary)) !important;
}

.attachmentName-vgRpzs {
    color: rgb(var(--secondary-light)) !important;
}

.formattedSize-1YbZww {
    color: rgba(var(--secondary-light), 0.5) !important;
}

.message-2CShn3 {
    background-color: rgb(var(--secondary-dark)) !important;
    padding: .5rem 1rem !important;
    border-radius: var(--border-radius) !important;
    box-sizing: border-box !important;
    margin: 1rem !important;
    margin-top: .25rem !important;
    margin-bottom: 0 !important;
    padding: .5rem 4.5rem !important;
}

.groupStart-3Mlgv1 {
    margin-top: 1.5rem !important;
}

.inlineMediaEmbed-1m3ApS:not(.imageContent-3Av-9c):not(.inlineMediaEmbed-1m3ApS), .embedWrapper-1MtIDg:not(.imageContent-3Av-9c):not(.inlineMediaEmbed-1m3ApS) {
    margin-top: 1rem !important;
    border-radius: var(--border-radius) !important;
}

.mentioned-Tre-dv {
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
    overflow: hidden !important;
    border-left: 3px solid rgb(var(--secondary)) !important;
}

.mentioned-Tre-dv::before {
    display: none !important;
}

.attachment-1PZZB2 {
    margin-top: 1rem !important;
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
    border: 1px solid rgb(var(--secondary-dark)) !important;
}

.upload-vLbqu- {
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
    border: 1px solid rgb(var(--secondary-dark)) !important;
}

.container-2o3qEW {
    background-color: rgb(var(--bg)) !important;
}

.membersWrap-3NUR2t {
    background-color: rgb(var(--bg)) !important;
    padding: .5rem 1rem !important;
}

.members-3WRCEx {
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
    margin-bottom: 1rem !important;
}

.container-q97qHp, .icon-3zI3d2, .addButtonIcon-3rJeaD, .icon-2W8DHg {
    color: rgb(var(--secondary-light)) !important;
}

.channelName-3KPsGw, .name-28HaxV {
    color: rgba(var(--secondary-light), 0.75) !important;
}

.container-q97qHp:not(.name-3BUDLf) {
    margin-bottom: 1rem !important;
}

.member-2gU6Ar, .layout-1qmrhw {
    background-color: transparent !important;
    transition: background-color .1s !important;
    border-radius: var(--border-radius) !important;
}

.member-2gU6Ar:hover,
.member-2gU6Ar[aria-expanded="true"],
.layout-1qmrhw:hover,
.member-2gU6Ar.selected-1-Z6gm {
    background-color: rgba(var(--secondary-dark), 0.5) !important;
}

.sidebar-1tnWFu {
    background-color: rgb(var(--bg)) !important;
    padding: var(--default-margin) !important;
}

.container-1NXEtd, .privateChannels-oVe7HL {
    padding: var(--default-margin) !important;
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
    margin-bottom: .5rem !important;
}

.containerDefault-YUSmu3 .content-1gYQeQ, .interactive-1vLZ_I {
    transition: background-color .1s !important;
    border-radius: var(--border-radius) !important;
}

.containerDefault-YUSmu3 .content-1gYQeQ:hover, .interactive-1vLZ_I:hover  {
    background-color: rgba(var(--secondary-light), 0.2) !important;
}

.selected-2TbFuo .content-1gYQeQ, .selected-3veCBZ {
    background-color: rgba(var(--secondary-light), 0.2) !important;
}

.panels-3wFtMD {
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
}

.guilds-2JjMmN {
    background-color: rgb(var(--bg)) !important;
    padding: var(--default-margin) !important;
}

.guilds-2JjMmN .scroller-3X7KbA {
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
}

.tutorialContainer-1pL9QS .childWrapper-1j_1ub {
    background-color: rgb(var(--secondary-dark)) !important;
    color: rgb(var(--secondary)) !important;
}

.scroller-WSmht3 {
    background-color: rgb(var(--bg-dark)) !important;
}

.animatedContainer-2laTjx {
    border-radius: var(--border-radius) !important;
}

.popoutContainer-2wbmiM, .layer-2aCOJ3 {
    border-radius: var(--border-radius) !important;
}

.emojiSection-3QtaWO {
    background-color: rgba(var(--secondary-light), 0.23) !important;
}

.guildSection-2Zyzy8 {
    background-color: rgba(var(--secondary-dark), 0.5) !important;
}

.layer-2aCOJ3.disabledPointerEvents-2AmYRc div {
    border-radius: var(--border-radius) !important;
    background-color: rgba(var(--secondary-dark), 0.5) !important;
}

.layer-2aCOJ3 {
    background-color: rgba(var(--secondary-dark), 0.5) !important;
}

.expandedFolderBackground-1kSAf6, .folder-241Joy {
    background-color: rgb(var(--secondary-dark)) !important;
}

.item-2LIpTv {
    background-color: rgb(var(--secondary)) !important
}

.embedWrapper-1MtIDg:not(.imageContent-3Av-9c):not(.inlineMediaEmbed-1m3ApS), .radioBar-3w9XY- {
    border-radius: var(--border-radius) !important;
    background-color: rgb(var(--secondary-dark)) !important;
    background-color: rgba(var(--secondary-light), 0.1) !important;
    border-right: 1px solid rgba(var(--secondary-light), 0.5) !important;
    border-top: 1px solid rgba(var(--secondary-light), 0.5) !important;
    border-bottom: 1px solid rgba(var(--secondary-light), 0.5) !important;
}

.item-2idW98 {
    background-color: transparent !important;
}

.inline {
    background-color: rgb(var(--bg-dark)) !important;
}

.outerWrapper-3UdjNj, .autocomplete-3NRXG8 {
    border-radius: var(--border-radius) !important;
    background-color: rgb(var(--secondary-dark)) !important;
}

.categoryHeader-OpJ1Ly {
    background-color: rgb(var(--secondary-dark)) !important;
}

.list-obNEuP, .bar-2MWHzg {
    background-color: rgb(var(--bg-dark)) !important;
}

.attachedBars-2BCP3l, .bar-2MWHzg {
    background-color: transparent !important;
}

.selected-3B2w1z{
    background-color: rgb(var(--secondary-dark)) !important;
}

.clickable-2V8YKY .base-2v-uc0 {
    transition: background-color .1s !important;
    border-radius: var(--border-radius) !important;
}

.clickable-2V8YKY .base-2v-uc0:hover {
    background-color: rgba(var(--secondary-light), 0.25) !important;
}

.option-Tt7anD {
    background-color: rgb(var(--secondary-dark)) !important;
}

.optionPillKey-2JyeoP {
    background-color: rgba(var(--secondary), 0.35) !important;
}

.optionPillValue-2uxsMp {
    background-color: rgb(var(--secondary-dark)) !important;
}

.container-2cd8Mz {
    background-color: rgb(var(--bg)) !important
}

.searchBar-2aylmZ {
    display: flex !important;
    align-items: center !important;
    background-color: rgb(var(--bg)) !important;
    border: 1px solid rgb(var(--secondary-dark)) !important;
    border-radius: var(--border-radius) !important;
    height: 2rem !important;
}

.inner-2pOSmK {
    background-color: transparent !important;
    flex-direction: row-reverse !important;
}

.searchBar-2aylmZ .icon-3CDcPB {
    color: rgb(var(--secondary-light)) !important;
}

.nowPlayingColumn-1eCBCN {
    background-color: rgb(var(--bg)) !important;
    padding: var(--default-margin) !important;
}

.peopleColumn-1wMU14 {
    margin: .5rem !important;
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
}

.container-1oAagU {
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius);
    padding: var(--default-margin) !important;
}

.scroller-hE2gWq {
    border: none !important;
}

.actionButton-3-B2x-{ 
    background-color: rgb(var(--secondary-dark)) !important;
}

.itemCard-3Etziu, .section-3G9aLW {
    background-color: rgb(var(--secondary-dark)) !important;
    border: 1px solid rgba(var(--secondary-light), 0.25) !important;
    transition: background-color .1s !important;
    border-radius: var(--border-radius) !important;
}

.itemCard-3Etziu:hover, .section-3G9aLW:hover {
    background-color: rgba(var(--secondary-dark), 0.75) !important;
}

.menu-1QACrS {
    background-color: rgb(var(--secondary-dark)) !important;
}

.item-1OdjEX {
    background-color: rgba(var(--secondary-light), 0.15) !important;
    border: 1px solid rgba(var(--secondary-light), 0.25) !important;
    transition: background-color .1s !important;
    border-radius: var(--border-radius) !important;
}

.item-1OdjEX:hover {
    background-color: rgba(var(--secondary-light), 0.05) !important;
}

.quickswitcher-pKcM9U {
    background-color: rgb(var(--bg)) !important;
}

.input-3r5zZY {
    display: flex !important;
    align-items: center !important;
    background-color: rgb(var(--bg)) !important;
    border: 1px solid rgb(var(--secondary-dark)) !important;
    border-radius: var(--border-radius) !important;
}

.scroller-2qwVWY {
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
    padding: 1rem !important;
}

.result-u66Ywh {
    transition: background-color .1s !important;
    border-radius: var(--border-radius) !important;
}

.result-u66Ywh:hover {
    background-color: rgba(var(--secondary-light), 0.05) !important;
}

.header-1ZpMzy {
    color: rgb(var(--secondary)) !important;
}

.item-3XjbnG, .button-f2h6uQ.lookFilled-yCfaCM, .container-3tKtM_ {
    border: 1px solid transparent !important;
    border-radius: var(--border-radius) !important;
    padding: .25rem 1rem !important;
}

.container-3tKtM_ {
    background-color: rgba(var(--secondary-light), 0.2) !important;
}

.item-3XjbnG:hover:not(.addFriend-emTWY1), .container-3tKtM_:hover {
    background-color: rgba(var(--secondary-light), 0.15) !important;
}

.item-3XjbnG.selected-g-kMVV:not(.addFriend-emTWY1) {
    background-color: rgba(var(--secondary-light), 0.15) !important;
    border: 1px solid rgba(var(--secondary-light), 0.25) !important;
    color: rgb(var(--secondary)) !important
}

.addFriend-emTWY1, .button-f2h6uQ.lookFilled-yCfaCM {
    background-color: rgb(var(--secondary)) !important;
    transition: background-color .1s !important;
}

.addFriend-emTWY1:hover, .addFriend-emTWY1.selected-g-kMVV, .button-f2h6uQ.lookFilled-yCfaCM:hover {
    background-color: rgba(var(--secondary), 0.75) !important;
    color: white !important;
}

.addFriendInputWrapper-kkoSV9 {
    background-color: rgb(var(--secondary-dark)) !important;
    border-radius: var(--border-radius) !important;
}

.container-KJ38dt {
    border-radius: var(--border-radius) !important;
}

.modalContent-3YXA7I {
    border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
    background-color: rgba(var(--secondary-light), 0.23) !important;
    overflow: hidden !important;
}

.footer-31IekZ {
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
    background-color: rgba(var(--secondary-dark), 0.5) !important;
}

.homeWrapperNormal-bu1BS6 {
    background-color: rgb(var(--bg)) !important;
}

.headerBar-1dSpQr::before {
    display: none !important;
}

.scroller-29cQFV {
    padding: var(--default-margin) !important;
    background-color: rgb(var(--bg)) !important;
}

.premiumContainer-3GGa8Q {
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
}

.card-16VQ8C {
    background-color: rgb(var(--secondary-dark)) !important;
}

.colorWhite-1H92hK .contents-3ca1mk {
    color: white !important;
}

.perksGridFeature-2yvJWU, .feature-2IUcBI {
    background-color: rgb(var(--secondary-dark)) !important;
}

.bd-server-card {
    border-radius: var(--border-radius) !important
}

.bd-button, .jumpButton-1ZwI_j {
    border-radius: var(--border-radius) !important;
    background-color: rgb(var(--secondary)) !important;
    transition: background-color .1s !important;
}

.bd-button:hover, .jumpButton-1ZwI_j:hover, .button-3bklZh.selected-69H4ua {
    background-color: rgba(var(--secondary), 0.5) !important;
}

.bd-server-card, .bd-server-card * {
    background-color: rgb(var(--secondary-dark)) !important;
}

.bd-search-wrapper {
    display: flex !important;
    align-items: center !important;
    background-color: rgb(var(--bg)) !important;
    border: 1px solid rgb(var(--secondary-dark)) !important;
    border-radius: var(--border-radius) !important;
    height: 2rem !important;
}

.bd-search-wrapper {
    background-color: transparent !important;
    flex-direction: row-reverse !important;
}

.bd-search-wrapper svg {
    fill: rgb(var(--secondary-light)) !important;
}

.sidebarRegionScroller-FXiQOh.thin-31rlnD {
    background-color: rgb(var(--bg)) !important;
}

.contentRegionScroller-2_GT_N.contentRegionShownSidebar-fHXkEg {
    background-color: rgb(var(--bg-dark)) !important
}

.wrapper-38slSD *, .wrapper-38slSD *:hover, .circleIconButton-1VxDrg, .childWrapper-1j_1ub {
    border-radius: var(--border-radius) !important;
}

.wrapper-28eC3z mask {
    display: none !important;
}

.circleIconButton-1VxDrg, .wrapper-1NNaWG {
    background-color: rgb(var(--secondary-dark)) !important;
    color: rgb(var(--secondary)) !important;
}

.header-1XpmZs {
    color: rgb(var(--secondary-light)) !important;
}

.circleIconButton-1VxDrg, .inspector-DFKXwB {
    background-color: rgb(var(--bg)) !important;
}

.contentWrapper-3vHNP2, .unicodeShortcut-3N8oDe, .standardStickerShortcut-ObSns3 {
    background-color: rgb(var(--secondary-dark)) !important;
    border-radius: 0 !important;
}

.header-145e10, .header-1w9Q93 {
    background-color: rgba(var(--secondary-dark), 0.5) !important;
    border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}

.container-nwU-8G, .messagesPopout-eVzQcI {
    background-color: rgba(var(--secondary-light), 0.23) !important;
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}

.icon-2yhmi8 {
    border-radius: var(--border-radius) !important;
    background-color: rgb(var(--secondary-dark)) !important;
}

.messageGroupWrapper-1jf_7C {
    background-color: rgba(var(--secondary-dark), 0.5) !important;
    border: 1px solid rgb(var(--secondary-light)) !important;
    border-radius: var(--border-radius) !important;
}

.positionLayer-1cndvf {
    background-color: transparent !important;
}

.layer-2aCOJ3,
.container-2ebMPP,
.clickableWrapper-2WTAkL img,
.messagesPopoutWrap-3zryHW,
.menu-1QACrS,
.inviteSplash-2nkLRX,
.nav-1zWVQw,
.contentWrapper-3vHNP2,
.drawerSizingWrapper-1txdWG {
    border-radius: var(--border-radius) !important;
}

.messagesPopoutWrap-3zryHW .messagesPopout-eVzQcI {
    border-radius: 0 !important;
}

.wrapper-1HIH0j, .barBase-3xxDXu {
    border-radius: var(--border-radius) !important;
    background-color: rgb(var(--bg)) !important;
}

.wrapper-2vIMkT {
    border-radius: var(--border-radius) !important;
    background-color: rgb(var(--secondary-dark)) !important;
}

.footer-5ji8u1 {
    background-color: rgba(var(--secondary-dark), 0.5) !important;
}

.menu-1QACrS {
    overflow: hidden !important;
}

.button-3bklZh:hover {
    background-color: rgba(var(--bg), 0.5) !important;
}

.scrollableContainer-15eg7h {
    overflow: hidden !important;
    padding: 0 .5rem !important;
}

.button-1zW0-r {
    background-color: rgb(var(--secondary-dark)) !important;
}

.icon-1zKOXL {
    background-color: rgb(var(--bg-dark)) !important;
    border-radius: var(--border-radius) !important;
}

.categoryItem-1sHzUv, .guildIcon-2SUGiq, .emojiItem-277VFM, .stickerCategory-2f6iSo {
    border-radius: var(--border-radius) !important;
}

.categoryItemDefaultCategorySelected-2YeRUu, .categoryItem-1sHzUv:hover, .stickerCategory-2f6iSo {
    background-color: rgb(var(--secondary-dark)) !important;
}

.emojiItem-277VFM:hover, .emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background-color: rgb(var(--bg-dark)) !important
}

.diversitySelector-P-W_tU {
    background-color: rgba(var(--bg-dark), 0.5) !important;
    padding: var(--default-margin) !important;
    border-radius: var(--border-radius) !important;
    transition: background-color .1s !important;
}

.diversitySelector-P-W_tU:hover {
    background-color: rgb(var(--bg-dark)) !important;
}

.diversitySelectorOptions-3DhNYs {
    background-color: rgb(var(--secondary-dark)) !important;
    border: 1px solid rgb(var(--secondary-light)) !important;
    padding: var(--default-margin) !important;
    border-radius: var(--border-radius) !important;
}

.diversityEmojiItem-2bgZKv {
    border-radius: var(--border-radius) !important;
}

.diversityEmojiItem-2bgZKv:hover {
    background-color: rgba(var(--secondary-light), 0.23) !important;
}

.navButton-1XuvI- {
    border-radius: var(--border-radius) !important;
}

.navButton-1XuvI-[aria-selected="true"], .navButton-1XuvI-:hover {
    background-color: rgba(var(--secondary-light), 0.23) !important;
}

.header-11eigE {
    box-shadow: none !important;
}

.searchBar-2M9mRP, .container-1SX9VC, .searchBar-3aIzc- {
    display: flex !important;
    align-items: center !important;
    background-color: rgb(var(--bg)) !important;
    border: 1px solid rgb(var(--secondary-dark)) !important;
    border-radius: var(--border-radius) !important;
    height: 2rem !important;
}

.searchBar-2M9mRP .inner-1NoIT5, .container-1SX9VC .inner-1NoIT5, .searchBar-3aIzc- .inner-2pOSmK {
    background-color: transparent !important;
    flex-direction: row-reverse !important;
    overflow: hidden !important;
}

.searchBar-2M9mRP .icon-18rqoe, .container-1SX9VC .icon-18rqoe, .searchBar-3aIzc- .icon-3CDcPB {
    color: rgb(var(--secondary-light)) !important;
}

.gif-2kTiNB, .categoryFadeBlurple-1l49_Q, .result-pzZrwj, .assetWrapper-2hzITV {
    border-radius: var(--border-radius) !important;
}

.sticker-H2HhJD:hover, .stickerInspected-mwnU6w, .header-11eigE, .searchHeader-1r_ZSh {
    background-color: rgb(var(--bg-dark)) !important;
}

.wrapper-1wwiGV, .icon-1kx1ir {
    border-radius: var(--border-radius) !important;
}

.mask-3pLFcz foreignObject {
    mask: var(--border-radius) !important;
}

.list-3V14yy, .channelName-3w2Y3c, .searchResultsWrap-5RVOkx {
    background-color: rgb(var(--secondary-dark)) !important;
}

.replyBar-1oi75v {
    background-color: rgba(var(--secondary-dark), 0.075) !important
}

.searchResult-O9NDji, .message-24k8JL {
    border-radius: var(--border-radius) !important;
}

.message-24k8JL {
    background-color: rgb(var(--bg)) !important;
    border: 1px solid rgba(var(--secondary-light), 0.5) !important;
}

.button-cfOvv- {
    background-color: rgb(var(--secondary)) !important;
    margin-right: .5rem !important;
    transition: background-color .1s !important;
    border-radius: var(--border-radius) !important;
}

.button-cfOvv-:hover {
    background-color: rgba(var(--secondary), 0.75) !important;
}

.videoGrid-1tZm-F {
    background-color: rgba(var(--secondary-light), 0.1) !important;
}

.rsvpCount-iCkObl {
    background-color: rgb(var(--secondary-dark)) !important;
}

.eventStatusBrand-3D-ae6 {
    color: rgb(var(--secondary)) !important;
}

.icon-3AqZ2e {
    border-radius: var(--border-radius) !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3, .focusLock-2tveLW {
    border-radius: var(--border-radius) !important;
    overflow: hidden !important;
}

.userPopoutInner-1hXSeY::before, .userProfileModalInner-3fh3QA::before {
    background-color: rgba(var(--bg-dark), 0.5) !important;
}

.userPopoutOverlayBackground-dKOOda, .profileBadges-31rDHI, .userProfileModalOverlayBackground-8p3-eU, .badgeList-2pMvZX {
    background-color: rgb(var(--secondary-dark)) !important;
}

.tabBarItem-3VvT2z {
    height: 1rem !important;
}

.tabBarContainer-2UG0vy, .tabBar-11FwuO, .pageIndicator-cOEPV8, .tabBar-3DfKkN {
    border: none !important;
}

.termsFieldBody-3kS99u, .enableContainer-H2cRts {
    border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}

.fieldFooterContainer-2QTUnl, .previewContainer-29oeA6 {
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}

.listRow-Y5zoF8 {
    transition: background-color .1s !important;
}

.listRow-Y5zoF8:hover {
    background-color: rgba(var(--bg-dark), 0.25) !important;
}

.accountProfileCard-lbN7n- {
    background-color: rgb(var(--secondary-dark)) !important;
}

.background-3d_SjE, .fieldList-in8WkP, .avatar-3mTjvZ, .root-g14mjS  {
    background-color: rgb(var(--bg)) !important;
}

.avatar-3mTjvZ {
    border: 7px solid rgb(var(--bg)) !important;
}

.input-2g-os5 {
    border-radius: var(--border-radius) !important;
    background-color: rgb(var(--secondary-dark)) !important;
}

.button-f2h6uQ.lookOutlined-3yKVGo,
.accountProfileCard-lbN7n-,
.background-3d_SjE,
.userPopoutOuter-3AVBmJ,
.userPopoutInner-1hXSeY,
.control-1fl03-,
.control-1fl03- .container-2nx-BQ,
.formNotice-2nS8ey,
.authedApp-8q3NA9,
.accountButtonInner-33vCDY,
.connection-YOVI9j,
.connectContainer-1hylYM,
.guild-2Fq4I5,
.cardWrapper-1bSePP,
.banner-oA34U0,
.guildSubscriptionRow-2bRuzB,
.button-qNMA0V,
.button-f2h6uQ,
.billingInformation-2bXmfE,
.detailsBlock-24pLFz,
.select-1Ia3hD,
.noItemsCard-5EOcCl,
.promotionCard-mo7ClH,
.paymentPane-ut5qKZ,
.pageButtonPrev-3q9rh8,
.pageButtonNext-2_bbdk,
.card-16VQ8C,
.checkbox-f1HnKB,
.cameraWrapper-3a7Ngv,
.container-1_EVMa.container-30qY7E,
.micTest-19EtdQ .wrapper-UvA17F,
.container-3jbRo5,
.activeGame-1OdxzI,
.bd-select,
.bd-switch-body,
.bd-number-input,
.bd-filled-checkmark,
.bd-addon-card,
.membershipDialog-2wAdpQ,
.searchContainer-u-1vUp .container-2oNtJn,
.searchContainer-2kJ46v .container-2oNtJn,
.searchContainer-23hFke .container-2oNtJn,
.searchContainer-1cOciB .container-2oNtJn,
.selectFilterPopout-1eHbO2 .container-2oNtJn,
.settingsHeader-HWN6kR .container-2oNtJn,
.membersHeader-6GlAlu .container-2oNtJn,
.membersFilterPopout-2bbQRK .container-2oNtJn,
.searchBox-pyIJJj,
.tierHeaderWithoutCardBody-1iT8o_,
.grid-5BH14o .wrapper-24fR1R,
.tier-3CS7-p,
.copyInput-3AbKWB,
.descriptionBox-SKGNgB,
.prefixInput-w72mM6,
.category-2OvQ93,
.card-2xymMp,
.item-2Nx4LP,
.itemContainer-RkoeKz .container-2NdZr9,
.container-SidGiM,
.sidebarFixedContainer-2fX672,
.backgroundContainer-gUNEZU,
.verificationContainer-3qb1n0,
.editCard-K9Q9mb,
.actionContainer-EzNGrb,
.row-1PT9E8,
.item-1BCeuB,
.upsellContainer-2a5eMP,
.developerPortalCtaWrapper-2PniQs,
.analyticsCard-2fnrVG,
.featureCard-3XHbjy,
.checklistContainer-12xGp5,
.checklist-Asy_56,
.welcomeChannel-_Q4qAA,
.role-2TIOKu,
.messageInputContainer-2rGDH8,
.pill-3pRQlO,
.container-JhuCwn,
.mainCard-3KBsBI,
.button-DAkLIy.button-f2h6uQ.lookBlank-21BCro,
.header-3OsQeK,
.settingCard-xZSDjS,
.sidebarScrollable-2mW9Ls .scroller-3_YDR2,
.group-LWHoGI,
.systemMessageContainer-3F3V9U,
.mention,
.botTag-2mryIa,
.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L,
.profileBadges-31rDHI,
.spoilerText-27bIiA,
.emptyChannelIcon-1YdEz2,
.role-1adzi2,
.giftCodeContainer-3ObH0O .tile-2mmK5T,
.container-3i3IzO,
.reaction-3vwAF2,
.botTag-1NoD0B {
    border-radius: var(--border-radius) !important;
    overflow: hidden !important;
}

.checked-25WXMf {
    background-color: rgb(var(--secondary)) !important;
}

.checked-25WXMf .slider-32CRPX svg path,
.bd-switch-checked .bd-switch-slider svg path,
.bd-empty-updates svg {
    fill: rgb(var(--secondary)) !important;
}

.bd-filled-checkmark {
    background-color: rgb(var(--secondary)) !important;
}

.formNotice-2nS8ey,
.authedApp-8q3NA9,
.connectContainer-1hylYM,
.cardWrapper-1bSePP,
.connection-YOVI9j,
.guild-2Fq4I5,
.billingInformation-2bXmfE,
.detailsBlock-24pLFz,
.noItemsCard-5EOcCl,
.promotionCard-mo7ClH,
.paymentPane-ut5qKZ,
.payment-2bOh4k,
.card-16VQ8C,
.cameraWrapper-3a7Ngv,
.container-1_EVMa.container-30qY7E,
.micTest-19EtdQ .wrapper-UvA17F,
.activeGame-1OdxzI,
.bd-select,
.bd-number-input,
.searchContainer-u-1vUp .container-2oNtJn,
.searchContainer-2kJ46v .container-2oNtJn,
.searchContainer-23hFke .container-2oNtJn,
.searchContainer-1cOciB .container-2oNtJn,
.selectFilterPopout-1eHbO2 .container-2oNtJn,
.settingsHeader-HWN6kR .container-2oNtJn,
.membersHeader-6GlAlu .container-2oNtJn,
.membersFilterPopout-2bbQRK .container-2oNtJn,
.searchBox-pyIJJj,
.tierHeaderWithoutCardBody-1iT8o_,
.grid-5BH14o .wrapper-24fR1R,
.tier-3CS7-p:not(.tierBottomMargin-15_Pdn),
.copyInput-3AbKWB,
.descriptionBox-SKGNgB,
.prefixInput-w72mM6,
.card-2xymMp,
.item-2Nx4LP,
.itemContainer-RkoeKz .container-2NdZr9,
.backgroundContainer-gUNEZU,
.editCard-K9Q9mb,
.row-1PT9E8,
.upsellContainer-2a5eMP,
.developerPortalCtaWrapper-2PniQs,
.analyticsCard-2fnrVG,
.featureCard-3XHbjy,
.checklistContainer-12xGp5,
.previewCard-22p9UT,
.checklist-Asy_56,
.role-2TIOKu,
.messageInputContainer-2rGDH8,
.container-JhuCwn,
.mainCard-3KBsBI,
.button-DAkLIy.button-f2h6uQ.lookBlank-21BCro,
.group-LWHoGI,
.systemMessageContainer-3F3V9U,
.botTag-2mryIa,
.profileBadges-31rDHI,
.spoilerText-27bIiA,
.giftCodeContainer-3ObH0O .tile-2mmK5T,
.container-3i3IzO,
.reaction-3vwAF2,
.botTag-1NoD0B {
    background-color: rgb(var(--secondary-dark)) !important;
    border: 1px solid rgb(var(--secondary-light)) !important;
}

.reactionMe-1PwQAc {
    background-color: rgba(var(--secondary), .25) !important;
}

.guildSubscriptionSlots-1i_C21,
.bd-description-wrap,
.bd-footer,
.icon-2DGsye,
.availabilityIndicator-KldT0d,
.previewContainer-1GxmBJ,
.moreSubscribers-2FZuij,
.category-2OvQ93,
.buttonInner-3aRbcx,
.sidebarScrollable-2mW9Ls .scroller-3_YDR2,
.emptyChannelIcon-1YdEz2 {
    background-color: rgb(var(--secondary-dark)) !important;
}

.button-f2h6uQ.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
    border: 1px solid rgb(var(--secondary)) !important;
}

.button-f2h6uQ.lookOutlined-3yKVGo.colorBrand-I6CyqQ:hover {
    background-color: rgb(var(--secondary)) !important;
}

.accountButtonInner-33vCDY,
.connectionHeader-Ixbb1s,
.guildHeader-1EPPBS,
.gemIndicatorContainer-PqApbX,
.select-1Ia3hD,
.paymentPane-ut5qKZ,
.pageActions-1crTQL,
.previewMessage-2g_aBv,
.option-2eIyOn,
.bd-addon-header,
.container-3EtAkD,
.previewContainer-1xQAsw .theme-dark .messageContainer-3a6gLR,
.tierHeaderContent-2SPBAA,
.iconWrapper-1sOtkE,
.directoryModal-YJsOMv,
.container-SidGiM,
.sidebarFixedContainer-2fX672,
.verificationContainer-3qb1n0,
.termsFieldBody-3kS99u,
.containerFooter-3BSQ3U,
.ruleIconContainer-dXW56-,
.actionContainer-EzNGrb,
.selectFilterPopout-1eHbO2,
.membersFilterPopout-2bbQRK,
.upsellFooter-3M1V33,
.checklistHeader-3liG7E,
.header-Wl8ec-,
.enableContainer-H2cRts,
.welcomeChannel-_Q4qAA,
.list-3FIpnh,
.pill-3pRQlO,
.resizeHandle-PBRzPC,
.content-1SgpWY,
.divider-AZrXIA,
.cardContent-1-5hym,
.wrapper-2fEmwW .users-2JoyGL{
    background-color: rgb(var(--bg)) !important;
}

.contentRegionScroller-2_GT_N,
.titleContainer-3fPic2,
.header-JUTO-g,
.activeCategory-1iqXig,
.fieldFooterContainer-2QTUnl,
.contentRegion-3HkfJJ,
.featureIcon-2sTnDK,
.list-3FIpnh .content-2a4AW9,
.container-3YcgdM {
    background-color: rgb(var(--bg-dark)) !important;
}

.tierBody-1d3UiS,
.headerExpanded-1-zwDr,
.upsellContent-10YytV,
.checklistItem-1gWPPD,
.previewContainer-29oeA6,
.matchingPostsRow-2IiEQ1,
.iconWrapper-3FqQ75,
.cardFolder-3H4uH4,
.role-1adzi2,
.divider-IqmEqJ .content-3spvdd,
.unreadPill-3nEWYM,
.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L:hover,
.wrapper-2fEmwW .total-1c5KCN {
    background-color: rgb(var(--secondary-dark)) !important;
}

.wrapper-2fEmwW .total-1c5KCN::after {
    border-right-color: rgb(var(--secondary-dark)) !important;
}

.divider-IqmEqJ {
    border-color: rgb(var(--secondary-dark)) !important;
}

.unreadPillCap-2-iI4h path, .unreadPillCap-2-iI4h {
    fill: rgb(var(--secondary-dark)) !important;
}

.premiumTab-39eQzY .premiumLabel-3HPvdB.selected-2Uns2B {
    color: rgb(var(--secondary)) !important;
}

.premiumTab-39eQzY .background-Gjdjzm {
    display: none !important;
}

.barFill-2Bh7CX, .bd-switch-checked .bd-switch-body, .pinIcon-zVODC5, .numberBadge-37OJ3S {
    background-color: rgb(var(--secondary)) !important;
}

.defaultValue-19SZ-q .markValue-2U_-UG, .channelSettingButtons-sCQ_2T button, .buttons-BK5gED .buttonInner-3aRbcx {
    color: rgb(var(--secondary)) !important;
}

.selectedBrand-1AtwYE {
    background-color: rgb(var(--secondary)) !important;
}

.list-3FIpnh {
    padding: var(--default-margin) !important;
}

.list-3FIpnh .content-2a4AW9 {
    border-radius: var(--border-radius) !important;
}

.mainCard-3KBsBI.headerWithMatchingPosts-1lTrVT, .mainCard-3KBsBI.headerWithMatchingPosts-1lTrVT .container-JhuCwn {
    border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
    border-bottom: none !important;
}

.matchingPostsRow-2IiEQ1 {
    border: 1px solid rgb(var(--secondary-light)) !important;
    border-top: none !important;
}

.container-3XgAHv {
    background-color: transparent !important;
}

.chat-25x62K::before {
    display: none !important;
}

.container-3YcgdM {
    border: none !important;
    border-radius: var(--border-radius) !important;
    margin: 1rem !important;
}

.button-DAkLIy.button-f2h6uQ.lookBlank-21BCro:hover, .button-DAkLIy.button-f2h6uQ.lookBlank-21BCro:hover .buttonInner-3aRbcx {
    background-color: rgb(var(--secondary)) !important;
}

.sidebarScrollable-2mW9Ls .scroller-3_YDR2 {
    padding: var(--default-margin) !important;
    margin-right: 2rem !important;
}

.modeMuted-2T4MDZ {
    opacity: 75% !important;
}

.mention {
    color: rgb(var(--secondary)) !important;
    background-color: rgba(var(--secondary), 0.25) !important;
}

.mention:hover {
    background-color: rgba(var(--secondary), 0.5) !important;
}

.item-1OdjEX.colorDefault-CDqZdO.hideInteraction-2jPGL_, .replying-eZ7p5z:before {
    display: none !important;
}
